.navbar {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    margin-bottom: 20px;
    min-height: 50px;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
    height: 63px;
    margin: 0;
    padding: 15px;
}
.navbar-brand-text {
    position: absolute;
    left: 43vw;
    font-size: 25px;
    padding: 15px 15px;
} 
