.footer {
    background-color: #F8F8F8;
    box-shadow: 0px 0px 2px -1px;
    font-size: 20px;
    height: 64px;
    margin: 0 -15px;
    padding-top: 20px;
}

.child-comp {
    min-height: 525px;
    margin: 80px 0px 20px 0px;
    width: 100%
}